<div class="footer">
  <div class="footer-address">
  <i class="fa-solid fa-location-dot"></i>  13 Rue Hippolyte Détours 82200 Moissac
  </div>
  <div class="footer-phone">
    <i class="fa-solid fa-phone"></i> 06 38 21 59 12
  </div>
</div>
