<div class="footer">

  <div class="footer-infos">
    <p><strong>Monsieur Alexandre Castel</strong></p>
    <p><i class="fa-solid fa-location-dot"></i>  13 Rue Hippolyte Détours 82200 Moissac</p>
    <p><i class="fa-solid fa-phone"></i> 06 38 21 59 12</p>
    <p><i class="fa-solid fa-calendar"></i> Ouvert du Lundi au Vendredi</p>
    <p><i class="fa-solid fa-clock"></i> 9h - 19h</p>
    <p><i class="fa-solid fa-check"></i> Visites sur rendez-vous uniquement</p>
    <p><i class="fa-solid fa-money-check-dollar"></i> Paiement en chèque ou espèces uniquement</p>
  </div>
  <div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.9188705774213!2d1.0865458155840235!3d44.10566597910833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab8dc7306661f7%3A0x8084a7c26ff08c7b!2sCentre%20Chiropratique%20Castel%20Moissac!5e0!3m2!1sfr!2sfr!4v1658488359231!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
