<div class="footer">

  <div class="footer-infos">
    <p><strong>Monsieur Alexandre Castel</strong></p>
    <p><i class="fa-solid fa-location-dot"></i>  13 Rue Hippolyte Détours 82200 Moissac</p>
    <p><i class="fa-solid fa-phone"></i> 06 38 21 59 12</p>
    <p><i class="fa-solid fa-calendar"></i> Ouvert du Lundi au Vendredi</p>
    <p><i class="fa-solid fa-clock"></i> 9h - 20h</p>
    <p><i class="fa-solid fa-check"></i> Visites sur rendez-vous uniquement</p>
    <p><i class="fa-solid fa-money-check-dollar"></i> Paiement en chèque ou espèces uniquement</p>
  </div>
  <div class="map"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
