<div class="container">
  <!--Chiropractie card-->

  <div class="content-card">
    <div class="container">
      <div class="card-text">
        <h1>Qu'est-ce que la chiropractie ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper, quam et tempus rhoncus, arcu purus tempus est, aliquam consectetur magna justo vel dolor. Pellentesque efficitur vehicula augue. Quisque posuere mattis turpis sit amet egestas. Fusce massa enim, sollicitudin sit amet iaculis et, ornare ut elit. Vivamus non interdum tortor, quis luctus magna.</p>
        <p>Vivamus efficitur libero quis risus commodo blandit. Pellentesque vitae lorem ac eros dapibus dictum. Nam dolor augue, pellentesque ac nibh non, bibendum imperdiet arcu. Quisque lobortis odio in consectetur aliquet. Donec pretium erat neque, ut ultricies eros porta et. Praesent cursus sollicitudin diam, eu euismod diam efficitur in.</p>
      </div>
    </div>
  </div>

  <!--Le centre card-->

  <div class="content-card">
    <div class="inline-container">
      <div class="card-text">
        <h2>Le centre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper, quam et tempus rhoncus, arcu purus tempus est, aliquam consectetur magna justo vel dolor. Pellentesque efficitur vehicula augue. Quisque posuere mattis turpis sit amet egestas. Fusce massa enim, sollicitudin sit amet iaculis et, ornare ut elit. Vivamus non interdum tortor, quis luctus magna.</p>
        <p>Vivamus efficitur libero quis risus commodo blandit. Pellentesque vitae lorem ac eros dapibus dictum. Nam dolor augue, pellentesque ac nibh non, bibendum imperdiet arcu. Quisque lobortis odio in consectetur aliquet. Donec pretium erat neque, ut ultricies eros porta et. Praesent cursus sollicitudin diam, eu euismod diam efficitur in.</p>
      </div>
      <div class="card-img">
      </div>
    </div>
  </div>

  <!--Le practicien card-->

  <div class="content-card">
    <div class="inline-container">
      <div class="card-img">
      </div>
      <div class="card-text">
        <h2>Le practicien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper, quam et tempus rhoncus, arcu purus tempus est, aliquam consectetur magna justo vel dolor. Pellentesque efficitur vehicula augue. Quisque posuere mattis turpis sit amet egestas. Fusce massa enim, sollicitudin sit amet iaculis et, ornare ut elit. Vivamus non interdum tortor, quis luctus magna.</p>
        <p>Vivamus efficitur libero quis risus commodo blandit. Pellentesque vitae lorem ac eros dapibus dictum. Nam dolor augue, pellentesque ac nibh non, bibendum imperdiet arcu. Quisque lobortis odio in consectetur aliquet. Donec pretium erat neque, ut ultricies eros porta et. Praesent cursus sollicitudin diam, eu euismod diam efficitur in.</p>
      </div>
    </div>
  </div>
</div>
