<div class="container">

  <div class="title-container">
    <div class="content-card-title">
      <div class="card-text-title">
        <h1>Centre Chiropratique Castel Moissac</h1>
      </div>
    </div>
  </div>

  <!--Chiropractie card-->

  <div class="content-card">
    <div class="container">
      <div class="card-text">
        <h2>Qu'est-ce que la chiropractie ?</h2>
        <p> La chiropractie est l'analyse et le traitement des pathologies mécaniques
        touchant le système neuro-musculo-squelettique, c'est à dire tout ce qui
        concerne les maux de dos, hanches, genoux, pieds, mains, mâchoire, articulations
        du corps, les migraines, les lombalgies, cervicalgies et dorsalgies.</p>
        <p>C'est une méthodologie avec une vision holistique du corps, c'est à dire qui le
        prend en compte dans son ensemble. Par un examen orthopédique ainsi qu'une anamnèse
        (récit des antécédents médicaux et de l'apparition de la douleur par la•e patient•e)
        on cible la pathologie à traiter. Une fois la pathologie et les douleurs traitées
        durant la séance, des exercices de réhabilitation et des conseils de posture
        peuvent être donnés.</p>
        <p> La chiropractie apporte une précision dans l'identification et le traitement
        des pathologies ainsi qu'une compréhension plus importante du/de la patient•e de l'impact
        des gestes appliqués. C'est une méthode douce qui peut être utilisée en place de la
        chirurgie quand cela est possible.</p>
        <p> Le métier de chiropracteur est reconnu à l'international par l'OMS (Organisation Mondiale de la Santé),
        et nécessite une formation de niveau doctorat pour être pratiquée.</p>
      </div>
    </div>
  </div>

  <!--Le centre card-->

  <div class="content-card">
    <div class="inline-container">
      <div class="card-text">
        <h2>Le centre</h2>
        <p>Situé en face des urgences du centre hospitalier Intercommunal
        Castelsarrasin Moissac, le cabinet se situe dans une petite rue calme.
        C'est un espace lumineux et confortable. Une salle d'attente attenante
        vous permet de patienter le temps que le practicien soit disponible.</p>
        <p>Une luminosité douce procure un sentiment agréable et de confort vous permettant de vous
        sentir à l'aise. Un grand aquarium orne un des murs et vous propose un moment d'évasion pendant
        votre séance. Le cabinet est climatisé pour votre confort et les fenêtres sont occultées
        grâce à des brise-vue garantissant le respect de votre intimité. Enfin, un sens
        unique de circulation garantit votre anonymat face aux autres patient•es.</p>
      </div>
      <div class="card-img">
      </div>
    </div>
  </div>

  <!--Le practicien card-->

  <div class="content-card">
    <div class="inline-container">
      <div class="card-img">
      </div>
      <div class="card-text">
        <h2>Le practicien</h2>
        <p> Grand sportif depuis l'adolescence notamment en natation, je découvre la
        chiropractie à 19 ans lorsque je me retrouve dans l'incapacité de nager à cause d'une
        tendinopathie au bras. je suis alors stupéfait par la précision et la qualité des
        soins que m'apporte le chiropracteur qui me soigne complètement en deux séances.</p>
        <p> Je démarre alors mes études qui dureront 6 ans à l'Institut Européen de Chiropractie. En
        parallèle, je continue le sport et devient entraineur et préparateur physique en natation.
        Conjuguer ces deux passions m'apporte une compréhension profonde de la mécanique du corps,
        de sa motricité et de l'implication de la neurologie dans le système musculo-squelettique.</p>
        <p> Pour moi un•e bon•ne chiropracteur•rice est passioné•e, sait analyser une situation rapidement
        et avec précision et enfin sait faire preuve d'une grande empathie envers ses patient•es.
        Le consentement est au coeur de mon métier. C'est pourquoi j'ai à coeur d'expliquer
        chacun de mes gestes et d'attendre l'accord explicite du/de la patient•e avant chaque acte.</p>
      </div>
    </div>
  </div>

  <!--FAQ accordion-->
<div class="title-container">
  <div class="content-card-title">
    <div class="card-text-title">
      <h2>FAQ</h2>
    </div>
  </div>
</div>


  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Comment se déroule une séance ?</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> Une séance dure en moyenne 45minutes. Des questions orales sont posées afin de définir
          les contours de la pathologie ainsi que les spécificités de la douleur du/de la patient•e.</p>
          <p> Ensuite, une anamnèse est effectuée : c'est une ensemble de procédures afin d'analyser les
          réactions du corps et permet de comprendre en profondeur la pathologie. Le practicien met
          en évidence les douleurs à travers les différents mouvements et limitations du corps pour cibler
          de manière très précise les différentes atteintes provoquant les douleurs chez la•e patient•e.</p>
          <p> Un traitement musculaire et articulaire adapté est ensuite réalisé à travers des ajustements
          ou encore la pose de tape (bandage adhésif permettant de corriger les pathologies musculo-articulaires
          légères sans limiter le mouvement).</p>
          <p> En fin de séance, un examen est de nouveau réalisé anfin de re-analyser les réponses du corps
          et l'évolution suite au traitement des douleurs.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOnebis">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnebis" aria-expanded="false" aria-controls="collapseOnebis">
          <strong>Que veut dire "ajuster" ?</strong>
        </button>
      </h2>
      <div id="collapseOnebis" class="accordion-collapse collapse" aria-labelledby="headingOnebis" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Appliquer un vecteur de force sur un mouvement très précis d’une articulation
          afin de redonner du mouvement à celle ci pour libérer les tensions et l'impact neurologique
          associés.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseThree">
          <strong>Qu'est-ce que le bruit du "crac" ?</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Une articulation est entourée d’une gaine qui retient un liquide appelé sinovie
          ce dernier est rempli de petites bulles « d’air». Lorsque l’on applique un vecteur
          de force sur l'articulation celle-ci va s’écarter très légèrement et les bulles
          vont se concentrer au centre de l’articulation et créer une cavité. Celle-ci  va
          provoquer un son que l’on appelle "crac".
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Pourquoi je peux avoir mal après une séance de chiropractie ?</strong>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          La chiropractie n’est pas miraculeuse. Le traitement de certaines pathologies implique
          la ré-inflamation de certaines articulations pouvant provoquer des gênes dans
          les 48h suivant une visite. Ceci fait partie du processus normal du traitement.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapngFour" aria-expanded="false" aria-controls="collapngFour">
          <strong>J'ai peur de me faire ajuster, est-ce obligatoire ?</strong>
        </button>
      </h2>
      <div id="collapngFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Une séance est basée sur le consentement éclairé du/de la patient•e. Tout est adaptable,
          que ce soit pour les cervicales ou toute autre partie du corps.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <strong>Comment m'habiller ? Dois-je me déshabiller ?</strong>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> Le cabinet s'adapte à toutes les situations. Les seules deux choses qui vous seront demandées d'être
          retirées seront vos chaussures ainsi que votre ceinture.</p>
          <p> Idéalement, venez dans une tenue confortable type t-shirt-short ou leggings.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <strong>Combien coûte une séance ? Est-ce remboursé ?</strong>
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> Une séance coûte 50€ et dure en moyenne 45minutes. La chiropractie n'est pas une
          discipline remboursée par la sécurité sociale, mais de nombreuses mutuelles proposent
          plusieurs séances de chiropractie remboursées par an.</p>
          <p> Une facture de remboursement est réalisée à chaque fin de séance et peut aussi être
          demandée a posteriori.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <strong>Quels moyens de paiement le cabinet accepte-t-il ?</strong>
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Actuellement le cabinet <strong> n'accepte pas le paiement par carte bancaire</strong>.
          Paiement uniquement par chèque ou espèces. Un distributeur se situe à 5min de marche du cabinet
          au 31 Bd Camille Delthil, 82200 Moissac.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <strong>Combien de séances par an sont recommandées ?</strong>
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Il est conseillé de faire une séance une fois tous les six mois. En cas de pathologie,
          2 à 4 séances étalées sur 1 à 2 mois pourront être proposées.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <strong>Puis-je venir directement au cabinet si j'ai une urgence ?</strong>
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Non, <strong>le cabinet reçoit uniquement sur rendez-vous.</strong> Appelez le
          06 38 21 59 12. Le pratictien fera au mieux pour vous prendre en charge
          le plus rapidement possible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <strong>Quelles sont les différences avec la kinésithérapie et l'ostéophatie ?</strong>
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> Ces trois disciplines se différencient par leur approche différente du corps.</p>
          <p> La kinésithérapie est spécialisée dans la réhabilitation du système musculo-squelettique.</p>
          <p> L'ostéophatie est spécialisée dans l'angiologie (analyse du fonctionnement des
          vaisseaux sanguins et lymphatiques) et du système cranien.</p>
          <p>La chiropractie se focalise quant à elle sur le système neurologique du corps.</p>
        </div>
      </div>
    </div>
  </div>
</div>
