.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 8px 30px;
  color: rgba(0, 0, 0, 0.3);

  .fa-solid {
      color: #D23333;
  }

  .map {
    height: 100%;
    width: 70%;
  }
}
