.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 480px;
  padding: 8px 30px;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.3);

  .fa-solid {
      color: #D23333;
  }
}
